<!DOCTYPE html>
<html>
<head>
    <title>Web Secuirty Server</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</head>

<body>

<div class="header">

    <div>
        <h1>🚨 Web Security Server</h1>
        <p>AI Based Web Security Monitoring</p>
    </div>

    <div class="status">
        ● SERVER ACTIVE
    </div>

</div>

<div class="cards">

    <div class="card">
        <h2>Total Requests</h2>
        <p class="blue">{{ total }}</p>
    </div>

    <div class="card">
        <h2>Attacks</h2>
        <p class="red">{{ attacks }}</p>
    </div>

    <div class="card">
        <h2>Safe Requests</h2>
        <p class="green">{{ safe }}</p>
    </div>

</div>

<div class="table-container">

<table>

<tr>
    <th>Time</th>
    <th>IP</th>
    <th>URL</th>
    <th>Payload</th>
    <th>Status</th>
</tr>

{% for log in logs %}
<tr>

<td>{{ log.time }}</td>
<td>{{ log.ip }}</td>
<td>{{ log.url }}</td>
<td>{{ log.data }}</td>

{% if log.attack %}
<td class="attack">ATTACK</td>
{% else %}
<td class="safe">SAFE</td>
{% endif %}

</tr>
{% endfor %}

</table>

</div>

<div class="blocked">

<h2>🚫 Blocked IPs</h2>

<ul>

{% for ip in blocked %}
<li>{{ ip }}</li>
{% endfor %}

</ul>

</div>

</body>
</html>
