body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #020617;
    color: white;
}

.header {
    padding: 20px;
    background: #0f172a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #38bdf8;
}

.status {
    color: lightgreen;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: #0f172a;
    padding: 20px;
    border-radius: 15px;
}

.card p {
    font-size: 30px;
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: lightgreen;
}

.blue {
    color: #38bdf8;
}

.table-container {
    margin: 20px;
    background: #0f172a;
    border-radius: 15px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #1e293b;
    padding: 15px;
}

td {
    padding: 12px;
    border-top: 1px solid #1e293b;
}

.attack {
    color: red;
    font-weight: bold;
}

.safe {
    color: lightgreen;
    font-weight: bold;
}

.blocked {
    margin: 20px;
    padding: 20px;
    background: #0f172a;
    border-radius: 15px;
}

.blocked li {
    color: red;
}
